@import "tailwindcss";

@theme {
  --color-primary-50: #d8f9ff;
  --color-primary-100: #b1f2ff;
  --color-primary-200: #8aecff;
  --color-primary-300: #63e5ff;
  --color-primary-400: #3cdfff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
